@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond-to($bp) {
  @if $bp == mobile {
    @media (max-width: $bp-mobile) { @content; }
  } @else if $bp == tablet {
    @media (max-width: $bp-tablet) { @content; }
  } @else if $bp == desktop {
    @media (min-width: $bp-desktop) { @content; }
  }
}